<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.linuxtools.tmf.core.tracetype">
		<type
			category="org.eclipse.linuxtools.tmf.ctf.core.category.ctf"
			event_type="org.eclipse.tracecompass.tmf.core.event.TmfEvent"
			id="org.eclipse.tracecompass.incubator.kubernetes.core.trace"
			isDirectory="false"
			name="trace-k8s"
			trace_type="org.eclipse.tracecompass.incubator.kubernetes.core.trace.KubernetesTrace"></type>
		<experiment
			experiment_type="org.eclipse.tracecompass.incubator.kubernetes.core.trace.KubernetesExperiment"
			id="org.eclipse.tracecompass.incubator.kubernetes.core.trace.KubernetesExperiment"
			name="Kubernetes Experiment"></experiment>
	</extension>
	<extension
		point="org.eclipse.linuxtools.tmf.core.analysis">
		<module
			analysis_module="org.eclipse.tracecompass.incubator.kubernetes.core.analysis.UnifiedGlobalAnalysis"
			automatic="false"
			icon="icons/kubernetes.png"
			id="org.eclipse.tracecompass.incubator.kubernetes.core.analysis.UnifiedGlobalAnalysis"
			name="Kubernetes Global Unified Analysis">
			<tracetype
				applies="true"
				class="org.eclipse.tracecompass.incubator.kubernetes.core.trace.KubernetesTrace"
				id="org.eclipse.tracecompass.incubator.kubernetes.core"></tracetype>
		</module>
				<module
			analysis_module="org.eclipse.tracecompass.incubator.kubernetes.core.analysis.latency.KubernetesPodStartupLatencyAnalysis"
			automatic="false"
			icon="icons/kubernetes.png"
			id="org.eclipse.tracecompass.incubator.kubernetes.core.analysis.latency.KubernetesPodStartupLatencyAnalysis"
			name="Kubernetes Pod Startup Latency Analysis">
			<tracetype
				applies="true"
				class="org.eclipse.tracecompass.incubator.kubernetes.core.trace.KubernetesTrace"
				id="org.eclipse.tracecompass.incubator.kubernetes.core"></tracetype>
		</module>
		<module
			analysis_module="org.eclipse.tracecompass.incubator.kubernetes.core.analysis.cgroups.CgroupsAnalysis"
			automatic="false"
			icon="icons/kubernetes.png"
			id="org.eclipse.tracecompass.incubator.kubernetes.core.analysis.cgroups"
			name="Kubernetes Cgroup Analysis">
			<tracetype
				applies="true"
				class="org.eclipse.tracecompass.incubator.kubernetes.core.trace.KubernetesExperiment"
				id="org.eclipse.tracecompass.incubator.kubernetes.core.trace.KubernetesExperiment">
				</tracetype>
		</module>
	</extension>
	<extension
		point="org.eclipse.tracecompass.tmf.core.dataprovider">
		<dataProviderFactory
			class="org.eclipse.tracecompass.incubator.kubernetes.core.analysis.KubernetesDataProviderFactory"
			id="org.eclipse.tracecompass.incubator.kubernetes.core.analysis.UnifiedGlobalAnalysis.dataprovider"></dataProviderFactory>
		<dataProviderFactory
			class="org.eclipse.tracecompass.incubator.kubernetes.core.analysis.cgroups.CgroupsDataProviderFactory"
			id="org.eclipse.tracecompass.incubator.kubernetes.core.analysis.cgroups.dataprovider"></dataProviderFactory>
	</extension>
</plugin>
